@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 33% 98%;
    --foreground: 210 29% 24%;
    --card: 0 0% 100%;
    --card-foreground: 210 29% 24%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 29% 24%;
    --primary: 12 100% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 29% 24%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 20% 94%;
    --muted-foreground: 210 15% 45%;
    --accent: 210 20% 94%;
    --accent-foreground: 210 29% 24%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 12 100% 67%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  html {
    font-family: 'Inter', sans-serif;
  }
}
